<h1>Listing items</h1>

<table id="item-table">
  <tr>
    <th>Name</th>
    <th>Sex</th>
    <th>Birth</th>
    <th>Note</th>
    <th>Start time</th>
    <th>Registered</th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <%= render 'row', item: item %>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path, remote: true %>

<p id="result-form"></p>
